/* Apply water.css styles */

body {
    height: 100vh;
    width: 100vw;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

/* Define color variables */
:root {
    --background-color: navy;
    --shadow-color: #007bff;
    --status-top-color: orange;
    --status-bottom-color: limegreen;
    --msg-container-bg: teal;
    --msg-container-border: #ccc;
}

/* Define color variables */
:root {
    /*--bg-main: #f5f5f5; !* Light gray for main background *!*/
    /*--color-shadow: #b0bec5; !* Soft blue-gray for shadows *!*/
    /*--status-top-color: #ff9f80; !* Soft coral for top status *!*/
    /*--status-bottom-color: #b39ddb; !* Light purple for bottom status *!*/
    /*--msg-container-bg: #ffffff; !* White for message container background *!*/
    /*--msg-container-border: #e0e0e0; !* Light gray for border *!*/

    /*!* Existing message type backgrounds *!*/
    --msg-self-bg: #ffcccb; /* Pastel red */
    --msg-other-bg: #a2cffe; /* Pastel blue */
    --msg-ai-bg: #d0f0c0; /* Pastel green */

    /* Button styling */
    --btn-bg: #007bff; /* Bright blue */
    --btn-text: #ffffff; /* White */
    --btn-bg-hover: #0056b3
}



/* Custom styles for your chat app */
main {
    background: var(--background-color);
    height: calc(100% - 2em);
    width: calc(100% - 2em);
    padding: 0px;
    margin: 1em;
    border-radius: 2px;
    box-shadow: 0 2px 4px 0 var(--shadow-color);

    display: flex;
    flex-direction: column;
}

.status-top {
    background: var(--status-top-color);
    min-height: 1em;
}

.status-bottom {
    background: var(--status-bottom-color);
    /* Add your styles for status elements here */
}

.msg-container {
    background: var(--msg-container-bg);
    min-height: 2em;
    flex-grow: 1; /* Take available space */
    overflow-y: auto; /* Enable vertical scrolling */
    border: 1px solid var(--msg-container-border); /* Add a border for clarity */

    /* Add your styles for message container here */
}

/* Styling for the message container */
.msg-div {
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    border-radius: 8px;
}

/* Styling for user data icons */
.user-icon {
    font-size: 18px;
    margin-bottom: 5px;
}

/* Styling for user name and date */
.msg-user {
    font-weight: bold;
    margin-right: 5px;
}

.msg-date {
    color: #777;
}

/* Styling for message content */
.msg-content {
    margin-top: 5px;
}


/* Styling for message types */
.msg-self {
    background-color: var(--msg-self-bg);
    align-self: flex-end;
}

.msg-other {
    background-color: var(--msg-other-bg);
    align-self: flex-start;
}

.msg-ai {
    background-color: var(--msg-ai-bg);
    align-self: center;
}



.input-text {
    font-family: sans-serif;
    font-size: 14px;
    border-radius: 1em;
    resize: none; /* Disable manual resizing */
    /*transition: height 0.3s ease-in-out; !* Add the transition for height *!*/
    overflow: auto; /* Add scrollbars when content exceeds the size */
    /*resize: vertical; !* Restrict resizing to up and down only *!*/
    transition:height 0.24s ease-in-out; /* configure the transition*/
    /* Add your styles for the text area input here */
}




.button-box {
    float: right;
    display: flex;
    flex-wrap: wrap-reverse;
    flex-direction: row-reverse;
    /*justify-content: flex-end; !* Align buttons to the right *!*/
}


.custom-btn {
    background-color: var(--btn-bg);
    color: var(--btn-text);
    border: none;
    padding: 4px 1em;
    margin: 1px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.custom-btn:hover {
    background-color: var(--btn-bg-hover); /* Example button background color on hover */
}

/* Add specific styles for individual buttons here */
.custom-btn[name="settings"] {
    /* Add styles for the Settings button */
}

.custom-btn[name="undo"] {
    /* Add styles for the Undo button */
}

.custom-btn[name="redo"] {
    /* Add styles for the Redo button */
}

.custom-btn[name="refine"] {
    /* Add styles for the Refine button */
}

.custom-btn[name="upload"] {
    /* Add styles for the Upload button */
}

.custom-btn[name="voice"] {
    /* Add styles for the Voice button */
}

.custom-btn[name="send"] {
    /* Add styles for the Send button */
}



/* Style for the button bar */
/*.button-box {*/
/*    display: flex;*/
/*    justify-content: flex-end; !* Align buttons to the right *!*/
/*}*/
